@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  jk {
  @apply mx-auto;
  }

  button {
    cursor: none;
  }

  body::-webkit-scrollbar {
    display: none;
    background-color: #000;
  }

  html{
    scroll-behavior: smooth;
  }

}


@layer components {
    .navbar-list {
        @apply  block py-2 px-3 rounded text-primary border-gray-700 hover:text-white hover:scale-110 duration-700;
    }
}

@layer utilities {
    
  *{
    cursor: none;
  }
  .btn-cursor-hide{
    cursor: none;
  }

    .hover-box {
        width: 300px;
        padding: 20px;
        background-color: #3a3a3a;
        border: 2px solid #555;
        border-radius: 10px;
        color: #fff;
        position: relative;
        cursor: pointer;
        text-align: left;
        transition: background-color 0.3s ease;
      }
      
      .hover-box:hover {
        background-color: #ff5722;
      }
      
      .title {
        font-size: 18px;
        font-weight: bold;
        color: #ff5722;
        display: block;
        margin-bottom: 10px;
      }
      
      .description {
        font-size: 14px;
        color: #ccc;
      }
      
      .click-me {
        display: none;
        font-size: 18px;
        font-weight: bold;
        color: white;
      }
      
      .hover-box:hover .title,
      .hover-box:hover .description {
        display: none;
      }
      
      .hover-box:hover .click-me {
        display: block;
      }

      .link-hover {
        @apply hover:border hover:border-primary rounded-lg mb-3 hover:bg-transparent hover:text-primary
      }

      .background-sec-h {
        @apply bg-gradient-to-l from-zinc-800 to-neutral-900 hover:from-neutral-900 hover:to-zinc-800 hover:transition-all
      }

      .gradient-text {
        @apply bg-clip-text text-transparent;
        background-image: linear-gradient(to right, #f67e28, #e95c1f);
      }

      .img-client{
        @apply w-[100px] h-[100px]
      }

      /* Hilangkan scrollbar untuk tampilan lebih bersih */
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }
      .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

      /* Scroll Snap */
      .scroll-container {
        scroll-snap-type: x mandatory; /* Aktivasi scroll snap */
      }
      .snap-start {
        scroll-snap-align: start; /* Elemen akan berhenti di posisi awal */
      }
}